@charset "UTF-8";
html {
  box-sizing: border-box;
}

body {
  /*quitamos magenes del body*/
  width: 100%;
  /*ancho máximo de la caja*/
  margin: 0px;
}

/*Header*/
.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header1 {
  height: 60px;
  /*altura especificada*/
  background-color: rgba(9, 157, 141, 0.7);
  /*color de fondo especifico*/
  display: flex;
  /*usamos el display en flex para poder usar flexbox*/
  justify-content: center;
  /*para que el item este en el centro del eje*/
  align-items: center;
  /*alinea elementos flex a lo largo del eje transversal*/
}

h1 {
  /*especificamos el color de la fuente, la fuente y el tamaño */
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.flex-list {
  height: 45px;
  /*le restamos el padding de item y el del flex-list*/
  background-color: rgba(58, 231, 202, 0.7);
  /*color de fondo*/
  list-style: none;
  /*eliminamos los estilos de la ul*/
  display: flex;
  /*modo flexbox*/
  margin: 0;
  /*eliminamos el margen para que queden pegadas las dos cajas*/
  padding: 0;
  align-items: center;
  justify-content: center;
}

.item, .item-miembros {
  padding: 5px 5px 5px 5px;
  text-transform: uppercase;
}

.a-header:link {
  /*quitamos el subrayado del enlace y ponemos color de la fuente, la fuente y el tamaño*/
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

.a-header:visited {
  /*cuando el enlace ha sido clikado o ha sido visitado especificamos el color de la fuente, la fuente y el tamaño */
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

/*Sub menu desplegable con los miembros del equipo*/
.flex-list .menu-members {
  display: none;
  position: absolute;
  padding-top: 12px;
  text-transform: capitalize;
  font-size: 18px;
  padding-left: 0;
}

.flex-list .item-miembros:hover > .menu-members {
  display: block;
}

.menu-members li {
  position: relative;
  background-color: #3ae7ca;
  list-style: none;
}

.menu-members li:hover {
  background-color: #099d8d;
}

.menu-sub ul ul a:link {
  text-decoration: none;
  color: #FFFFFF;
}

.menu-sub ul ul a:visited {
  text-decoration: none;
  color: #FFFFFF;
}

@media all and (min-width: 768px) {
  .flex-list .menu-members {
    padding-top: 20px;
    font-size: 20px;
  }

  .menu-members li {
    position: relative;
    background-color: #099d8d;
    list-style: none;
  }

  .menu-members li:hover {
    background-color: #3ae7ca;
  }
}
/*fin menu desplegable*/
/*Contenido principal*/
.headerImage {
  height: 421px;
  background-image: url("../fotos/fotomovil.jpg");
  background-size: cover;
  position: relative;
}

@media all and (min-width: 768px) and (max-width: 1239px) {
  .headerImage {
    background-image: url("../fotos/fototablet.jpg");
  }
}
@media all and (min-width: 1240px) {
  .headerImage {
    background-image: url("../fotos/fotoordena.jpg");
  }
}
.claimContainer {
  display: flex;
  position: absolute;
  bottom: -13%;
  justify-content: center;
  width: 100%;
}

@media all and (min-width: 768px) {
  .claimContainer {
    bottom: 0%;
    justify-content: flex-start;
  }
}
.claim {
  background-color: white;
  /*rgba(255, 255, 255, 0.7)*/
  margin: 30px;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 25px;
}

@media all and (min-width: 768px) {
  .claim {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0px;
  }
}
.titulo {
  color: #099D8D;
  font-style: 'Rubik', sans-serif;
  font-size: 24px;
  line: 45px;
}

.container {
  color: #54585A;
  font-style: 'Open Sans', sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  margin: 0;
}

.titles-section {
  color: #099d8d;
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
  margin-top: 15px;
}

.qualities-section {
  background: #f1f1f1;
  padding: 30px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
}

.paragraph {
  font-size: 16px;
  color: #54585a;
}

.qualities-section-items {
  text-align: center;
  margin-bottom: 30px;
}

.qualities-section-triangle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ffffff;
}

/*contenido para describir cada una del equipo*/
/*cajas descripcion individual - sandra*/
.member {
  display: flex;
  padding: 0px;
  flex-direction: column;
}

.member__avatar {
  width: 180px;
  height: 180px;
  padding: 0;
  margin: 0 auto;
  border-radius: 30%;
}

.member__description {
  margin: 15px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: #54585a;
  margin: 0 auto;
  text-align: center;
}

.icons {
  margin: 15px 0px;
}

.photo {
  width: 180px;
  height: 180px;
  padding: 0;
  margin: 0 auto;
  border-radius: 30%;
}

.photo-img {
  height: 100%;
  background-size: cover;
  margin: 0 auto;
  border-radius: 4%;
  padding: 5px;
  background: #EEEAEB;
  height: 170px;
  width: 170px;
}

.name {
  margin: 30px 0px 30px 0;
  color: #099D8D;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.first-name {
  margin: 15px 0px 0px 0px;
  color: #000000;
  font-size: 20px;
  font-family: 'open sans', sans-serif;
}

/*cajas descripcion individual - sandra*/
.list-rrhh {
  list-style: none;
  margin-top: 15px;
  margin-bottom: 45px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.list-item-rrhh {
  list-style: none;
}

.list-item-rrhh::before {
  content: "·";
  color: #099D8D;
  margin: 0 10px;
}

.list-item-rrhh:first-child::before {
  content: initial;
}

.rrss:visited {
  color: #099D8D;
}

.rrss:link {
  color: #099D8D;
}

/*Footer*/
.pie {
  margin: 0;
  text-align: center;
}

hr {
  color: #85929E;
  margin: 0;
  padding: 0;
}

.p-footer {
  font-family: 'Rubik', sans-serif;
  color: #BDC3C7;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.flex-list-footer {
  padding: 0;
  list-style: none;
}

.item-footer {
  list-style: none;
  margin: 0;
  padding: 0;
}

.a-footer:link {
  text-decoration: none;
  color: #85929E;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.a-footer:visited {
  text-decoration: none;
  color: #85929E;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.logo-footer1 {
  width: 115.9px;
  height: 45px;
  margin-top: 30px;
  margin-bottom: 45px;
}

html {
  box-sizing: border-box;
}

body {
  /*quitamos magenes del body*/
  width: 100%;
  /*ancho máximo de la caja*/
  margin: 0px;
}

/*Header*/
.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header1 {
  height: 60px;
  /*altura especificada*/
  background-color: rgba(9, 157, 141, 0.7);
  /*color de fondo especifico*/
  display: flex;
  /*usamos el display en flex para poder usar flexbox*/
  justify-content: center;
  /*para que el item este en el centro del eje*/
  align-items: center;
  /*alinea elementos flex a lo largo del eje transversal*/
}

h1 {
  /*especificamos el color de la fuente, la fuente y el tamaño */
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.flex-list {
  height: 45px;
  background-color: rgba(58, 231, 202, 0.7);
  /*color de fondo*/
  list-style: none;
  /*eliminamos los estilos de la ul*/
  display: flex;
  /*modo flexbox*/
  margin: 0;
  /*eliminamos el margen para que queden pegadas las dos cajas*/
  padding: 0;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.item {
  padding: 5px 5px 5px 5px;
}

.a-header:link {
  /*quitamos el subrayado del enlace y ponemos color de la fuente, la fuente y el tamaño*/
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

.a-header:visited {
  /*cuando el enlace ha sido clikado o ha sido visitado especificamos el color de la fuente, la fuente y el tamaño */
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

/*Sub menu desplegable con los miembros del equipo*/
.flex-list .menu-members {
  display: none;
  position: absolute;
  padding-top: 12px;
  text-transform: capitalize;
  font-size: 18px;
  padding-left: 0;
}

.flex-list .item-miembros:hover > .menu-members {
  display: block;
}

.menu-members li {
  position: relative;
  background-color: #3ae7ca;
  list-style: none;
}

.menu-members li:hover {
  background-color: #099d8d;
}

.menu-sub ul ul a:link {
  text-decoration: none;
  color: #FFFFFF;
}

.menu-sub ul ul a:visited {
  text-decoration: none;
  color: #FFFFFF;
}

@media all and (min-width: 768px) {
  .flex-list .menu-members {
    padding-top: 20px;
    font-size: 20px;
  }

  .menu-members li {
    position: relative;
    background-color: #099d8d;
    list-style: none;
  }

  .menu-members li:hover {
    background-color: #3ae7ca;
  }
}
/*fin menu desplegable*/
/*Contenido principal*/
.headerImage.contact {
  height: 300px;
  background-image: url("../fotos/perfil1.jpg");
  background-size: cover;
  position: relative;
}

.titulo {
  color: #099D8D;
  font-style: 'Rubik', sans-serif;
  font-size: 24px;
  line: 45px;
}

.container {
  color: #54585A;
  font-style: 'Open Sans', sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.titles-section {
  color: #099d8d;
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
  margin-top: 30px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.explicacion {
  font-size: 18px;
  margin: 15px;
}

.frase {
  font-size: 14px;
  margin-bottom: 40px;
}

.asterisco {
  color: #3ae7ca;
}

/*formulario*/
.formulario {
  display: block;
  margin: 15px;
}

.formulario label {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  color: #54585a;
}

.formulario div {
  margin-bottom: 20px;
  margin-top: 20px;
}

.formulario input {
  height: 45px;
  color: #b8b8b9;
  width: 100%;
  border: 1px #b8b8b9 solid;
}

.formulario textarea {
  color: #b8b8b9;
  width: 100%;
  border: 1px #b8b8b9 solid;
}

::placeholder {
  color: #b8b8b9;
  padding: 10px;
}

.email::placeholder {
  color: #000000;
}

.button {
  font-style: 'Open Sans', sans-serif;
  text-decoration: none;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 16px;
  color: #ffffff;
  background-color: #099d8d;
  border-radius: 3px;
  border: 2px solid #099d8d;
  height: 45px;
  width: 100%;
}

.form-width {
  /*le decimos que  esté siempre al 100% pero que nunca pase de 442px y nos ahorramos una media query*/
  width: 100%;
  max-width: 442px;
  margin: 0 auto;
}

/*Footer*/
.pie {
  margin: 0;
  text-align: center;
}

hr {
  color: #85929E;
  margin: 0;
  padding: 0;
}

.p-footer {
  font-family: 'Rubik', sans-serif;
  color: #BDC3C7;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.flex-list-footer {
  padding: 0;
  text-transform: uppercase;
}

.item-footer {
  list-style: none;
  margin: 0;
  padding: 0;
}

.a-footer:link {
  text-decoration: none;
  color: #85929E;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  align-items: center;
}

.a-footer:visited {
  text-decoration: none;
  color: #85929E;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

.logo-footer1 {
  width: 115.9px;
  height: 45px;
  margin-top: 30px;
  margin-bottom: 45px;
}

@media all and (min-width: 768px) {
  html {
    box-sizing: border-box;
  }

  body {
    /*quitamos magenes del body*/
    width: 100%;
    /*ancho máximo de la caja*/
    margin: 0px;
  }

  .fixedHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #099d8d;
    padding: 0 30px;
    box-sizing: border-box;
  }

  .flex-list {
    background-color: #099d8d;
  }

  .menu-sub ul ul {
    left: 80%;
  }
}
html {
  box-sizing: border-box;
}

body {
  /*quitamos margenes del body*/
  width: 100%;
  /*ancho máximo de la caja*/
  margin: 0px;
}

@media all and (min-width: 768px) {
  .qualities-section {
    display: flex;
    flex-direction: row;
    padding: 45px 45px 60px 45px;
  }

  .qualities-section-items {
    text-align: center;
    margin-bottom: auto;
    width: 50%;
  }

  .titles-section {
    padding-bottom: 15px;
    margin: auto;
  }

  .paragraph-1 {
    padding-right: 15px;
    margin: auto;
  }

  .paragraph-2 {
    padding-left: 15px;
    margin: auto;
  }
}
@media all and (min-width: 1200px) {
  .qualities-section {
    padding: 45px 138px 60px 138px;
  }

  .paragraph-1 {
    padding-right: 22.5px;
    margin: auto;
  }

  .paragraph-2 {
    padding-left: 22.5px;
    margin: auto;
  }
}
@media all and (min-width: 768px) {
  .member_left {
    text-align: left;
  }

  .member {
    flex-direction: row;
    padding: 0px 20px;
  }

  .member__right {
    flex-direction: row-reverse;
    text-align: right;
    padding-right: 0px;
  }

  .name {
    margin: 45px 0px;
    text-align: center;
    padding-right: 20px;
  }

  .member__avatar {
    margin: 0;
  }

  .member__description {
    text-align: left;
    padding: 0px 30px 0px 0px;
  }

  .icons {
    margin: 60px 0px;
  }

  .section_description {
    padding: 0px 56px;
  }

  .first-name {
    margin-top: 0;
  }

  .paragraph__description {
    margin-bottom: 0;
    width: 400px;
    /*439px web*/
  }

  .right {
    text-align: right;
    margin-right: 30px;
    /*45px web*/
  }

  .left {
    text-align: left;
    margin-left: 30px;
    /*45px web*/
  }

  p {
    margin-bottom: 0;
  }

  .list-rrhh {
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }

  .icons_left {
    justify-content: flex-end;
  }

  .photo {
    width: 205px;
    /*278px web*/
    height: 205px;
    /*278px web*/
    padding: 0;
    margin: 0;
    border-radius: 30%;
  }

  .photo-img {
    height: 100%;
    background-size: cover;
    margin: 0;
    border-radius: 4%;
    padding: 5px;
    background: #EEEAEB;
    height: 195px;
    /*268px web*/
    width: 195px;
    /*268px web*/
  }
}
@media all and (min-width: 1200px) {
  .member_left {
    text-align: left;
  }

  .member {
    flex-direction: row;
    padding: 0px 20px;
  }

  .member__right {
    flex-direction: row-reverse;
    text-align: right;
    padding-right: 0px;
  }

  .name {
    margin: 45px 0px;
    text-align: center;
    padding-right: 20px;
  }

  .member__avatar {
    margin: 0;
  }

  .member__description {
    text-align: left;
    padding: 0px 30px 0px 0px;
  }

  .icons {
    margin: 60px 0px;
  }

  .section_description {
    padding: 0px 56px;
  }

  .first-name {
    margin-top: 0;
  }

  .paragraph__description {
    margin-bottom: 0;
    width: 439px;
    /*439px web*/
  }

  .right {
    text-align: right;
    margin-right: 45px;
    /*45px web*/
  }

  .left {
    text-align: left;
    margin-left: 45px;
    /*45px web*/
  }

  p {
    margin-bottom: 0;
  }

  .list-rrhh {
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }

  .icons_left {
    justify-content: flex-end;
  }

  .photo {
    width: 278px;
    /*278px web*/
    height: 278px;
    /*278px web*/
    padding: 0;
    margin: 0;
    border-radius: 30%;
  }

  .photo-img {
    height: 100%;
    background-size: cover;
    margin: 0;
    border-radius: 4%;
    padding: 5px;
    background: #EEEAEB;
    height: 268px;
    /*268px web*/
    width: 268px;
    /*268px web*/
  }
}
@media all and (min-width: 768px) {
  .pie {
    position: relative;
    margin: 0 20px;
  }

  .p-footer {
    text-align: left;
    top: 30px;
    margin-left: 30px;
  }

  .nav-footer {
    position: absolute;
    left: 80%;
    top: 25px;
    text-align: right;
  }

  .item-footer {
    padding-bottom: 10px;
  }

  .logo-footer {
    margin: 15px 20px 60px 30px;
    text-align: left;
  }
}
@media all and (min-width: 1024px) {
  .p-footer {
    text-align: left;
    top: 30px;
    margin-left: 100px;
  }

  .logo-footer {
    margin: 15px 20px 60px 100px;
    text-align: left;
  }
}
html {
  box-sizing: border-box;
}

body {
  /*quitamos margenes del body*/
  width: 100%;
  /*ancho máximo de la caja*/
  margin: 0px;
}

@media all and (min-width: 768px) {
  .button-container {
    width: 100%;
    text-align: right;
  }

  .little-button {
    width: 206px;
  }
}
@media all and (min-width: 1200px) {
  .container {
    width: 601px;
    margin: auto;
    padding: 45px 45px 60px 45px;
  }

  .form-width {
    max-width: 601px;
  }

  .formulario {
    margin: 0;
  }

  .form-email-tlf {
    display: flex;
    justify-content: space-between;
  }

  .email {
    width: 395px;
  }

  .telephone {
    width: 162px;
  }
}

/*# sourceMappingURL=main.css.map */
