@media all and (min-width: 768px) {
  .member_left{
    text-align: left;
  }
    .member{
      flex-direction: row;
      padding: 0px 20px;
    }
    .member__right{
      flex-direction: row-reverse;
      text-align: right;
      padding-right: 0px;
    }

    .name{
      margin: 45px 0px;
      text-align: center;
      padding-right: 20px;
    }
    .member__avatar{
      margin: 0px 30px 0px 0px;
    }
.member__description{
  text-align: left;
  padding: 0px 30px 0px 0px:
}
.icons{
  margin: 60px 0px;
}

.section_description{
  padding: 0px 56px;
}
.first-name{
  margin-top: 0;
}
.paragraph__description{
margin-bottom: 0;
  width: 439px;

}
.right{
  text-align: right;
  margin-right: 45px;
}
.left{
  text-align: left;
  margin-left: 45px;
}
p{
  margin-bottom: 0;
}
.list-rrhh{
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
.icons_left{
justify-content: flex-end;
}

}
