html{
  box-sizing: border-box;
}
body{/*quitamos margenes del body*/
  width: 100%;/*ancho máximo de la caja*/
  margin: 0px;
}
@media all and (min-width: 768px) {
  .qualities-section {
    display: flex;
    flex-direction: row;
    padding: 45px 45px 60px 45px;
  }
  .qualities-section-items {
    text-align: center;
    margin-bottom: auto;
    width: 50%;
  }
  .titles-section {
    padding-bottom: 15px;
    margin: auto;
  }

  .paragraph-1 {
    padding-right: 15px;
    margin: auto;
  }
  .paragraph-2 {
    padding-left: 15px;
    margin: auto;
  }
}
@media all and (min-width: 1200px) {
  .qualities-section {
    padding: 45px 138px 60px 138px;
  }
  .paragraph-1 {
    padding-right: 22.5px;
    margin: auto;
  }
  .paragraph-2 {
    padding-left: 22.5px;
    margin: auto;
  }
}
