$color01: #099d8d;
$color02: #85929e;
$color03: #eeeaeb;
$color04: #000000;
$color05: #b8b8b9;
$color06: #54585a;
$color07: #3ae7ca;
$color08: #ffffff;
$color09: #bdc3c7;
$color10: rgba(#099D8D 0.7); /* con opacidad */
$color11: rgba(#3AE7CA 0.7); /* con opacidad */
$color12: rgba(#ffffff 0.7); /* con opacidad */
$color13: #f1f1f1;
