@media all and (min-width: 768px){
  .member-left {
    display: grid;
    grid-template-columns: 250px 400px;
    grid-template-rows:1fr;
    .photo {
      grid-column: 1 / 2;
    }
    .member__description{
      grid-column: 2 / 3;
      grid-row: 1;
      text-align: left;
    }
  }
  .list-rrhh.left{
    padding: 0;
    display: flex;
    justify-content:flex-start;
  }
  .member__right{
    display: grid;
    grid-template-columns: 400px 250px;
    grid-template-rows:1fr;
    justify-content: flex-end;
    margin-right: 200px;
    .photo{
      grid-column: 2;
    }
    .member__description{
      grid-column: 1;
      grid-row: 1;
      text-align: right;
    }
  }
  .list-rrhh.right{
    padding: 0;
    display: flex;
    justify-content:flex-end;
  }
  .member-left .photo {
    width: 205px;
    height: 205px;
    padding: 0;
    margin: 0;
    margin-right: 45px;
    border-radius: 30%;
  }
  .member__right .photo {
    width: 205px;
    height: 205px;
    padding: 0;
    margin: 0;
    margin-left: 45px;
    border-radius: 30%;
  }
  .photo-img {
    height: 100%;
    background-size: cover;
    margin: 0;
    border-radius: 4%;
    margin-top: 15px;
    padding: 5px;
    background: #EEEAEB;
    height: 195px;
    width: 195px;
  }
}
@media all and (min-width: 1280px){
  .member-left {
    display: grid;
    grid-template-columns: 300px 450px;
    grid-template-rows:1fr;
  }
  .member__right{
    display: grid;
    grid-template-columns: 450px 300px;
    grid-template-rows:1fr;
    justify-content: flex-end;
    margin-right: 200px;
  }
  .member-left.photo {
    width: 278px;
    height: 278px;
    padding: 0;
    margin-right: 25px;
    border-radius: 30%;
  }
  .member__right.photo {
    width: 278px;
    height: 278px;
    padding: 0;
    margin:0;
    border-radius: 30%;
  }
  .photo-img {
    height: 100%;
    background-size: cover;
    margin: 0;
    margin-top: 20px;
    border-radius: 4%;
    padding: 5px;
    background: #EEEAEB;
    height: 268px;
    width: 268px;
  }
}
