@media all and (min-width: 768px) {
  html {
    box-sizing: border-box;
  }
  body {/*quitamos magenes del body*/
    width: 100%;/*ancho máximo de la caja*/
    margin: 0px;
  }
  .fixedHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color01;
    padding: 0 30px;
    box-sizing: border-box;
  }
  .flex-list{
    background-color: $color01;
  }
  .menu-sub ul ul{
    left: 80%;
  }
}
