@media all and (min-width:768px) {
.pie {
position: relative;
margin: 0 20px;
}
.p-footer{
text-align: left;
top:30px;
margin-left: 30px;
}
.nav-footer{
position: absolute;
left:80%;
top:25px;
text-align: right;
}
.item-footer{
padding-bottom: 10px;
}
.logo-footer{
margin: 15px 20px 60px 30px;
text-align: left;
}
}
@media all and (min-width:1024px){
  .p-footer{
  text-align: left;
  top:30px;
  margin-left: 100px;
  }
  .logo-footer{
  margin: 15px 20px 60px 100px;
  text-align: left;
  }
}
